@page "/"
@using EventSourcedTodoList.Domain.Todo.List
@using EventSourcedTodoList.Actions
@inherits BlazorState.BlazorStateComponent

<PageTitle>TodoList</PageTitle>

<Timeline></Timeline>

<MudContainer MaxWidth="MaxWidth.Small">

    <h1>@State.CurrentTemporality.ToText()</h1>

    <MudDivider Class="items"/>

    <TodoListComponent></TodoListComponent>

</MudContainer>

<style>
    .items {
        margin: 15px 0;
    }
</style>

@code {

    TodoListState State => GetState<TodoListState>();

    protected override async Task OnInitializedAsync()
        => await Mediator.Send(new TodoListState.LoadTodoList(Temporality.ThisDay));

}