@page "/todolist"
@using EventSourcedTodoList.Actions
@inherits BlazorState.BlazorStateComponent

<PageTitle>Aujourd'hui</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small">

    <h1>Aujourd'hui</h1>

    <MudDivider Class="items"/>

    <div>
        @foreach (var item in State.Items)
        {
            <TaskItem Item="@item"></TaskItem>
        }

        <div class="d-flex">
            <MudCheckBox
                Class="compact"
                Checked="@(false)"
                Color="Color.Secondary">
            </MudCheckBox>

            <MudTextField
                T="string"
                InputMode="InputMode.text"
                Text="@State.NewTodoItemDescription"
                TextChanged="AddItemToDo"
                TextUpdateSuppression="false"
                Class="compact"
                DisableUnderLine="true">
            </MudTextField>
        </div>
    </div>

</MudContainer>

<style>
    .items {
        margin: 15px 0;
    }
</style>

@* <style> *@
@*     .short-padding-left { *@
@*         padding-left: 5px;; *@
@*     } *@
@*      *@
@*     .addItemInput { *@
@*         list-style: disclosure-closed; *@
@*     } *@
@*      *@
@*     .transparentInput { *@
@*         border:0; *@
@*         outline:0; *@
@*         background-color: transparent; *@
@*         padding: 0; *@
@*         width: 100%; *@
@*     } *@
@*      *@
@*     .transparentTextArea { *@
@*         border:0; *@
@*         outline:0; *@
@*         background-color: transparent; *@
@*         padding: 0; *@
@*         width: 100%; *@
@*         resize: inherit; *@
@*         overflow: hidden; *@
@*         min-height: 30px; *@
@*         display: block; *@
@*     } *@
@*      *@
@*     .transparentInput:focus { *@
@*         outline:none !important; *@
@*     } *@
@* </style> *@

@code {

    TodoListState State => GetState<TodoListState>();

    protected override async Task OnInitializedAsync() => await Mediator.Send(new TodoListState.LoadTodoList());

    private async Task AddItemToDo(string itemDescription) => await Mediator.Send(new TodoListState.AddNewItem(itemDescription));

}