@page "/"
@using TimeOnion.Domain.Todo.List
@using TimeOnion.Actions
@inherits BlazorState.BlazorStateComponent

<PageTitle>Time Onion</PageTitle>

<TimeHorizonSelector></TimeHorizonSelector>

<div class="title-actions">
    <MudText Typo="Typo.h3">
        @State.CurrentTemporality.ToText()
    </MudText>

    <MudTooltip Text="Ajouter une nouvelle liste">
        <MudIconButton
            Icon="@Icons.Material.Filled.AddCircle"
            OnClick="CreateNewTodoList">
        </MudIconButton>
    </MudTooltip>

</div>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <div class="todolist-container">
        @foreach (var todoList in State.TodoLists)
        {
            <TodoListComponent TodoList="@todoList"></TodoListComponent>
        }
    </div>
</MudContainer>

<style>
    .title-actions {
        display: flex;
        align-items: self-end;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    
    .todolist-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
</style>

@code {

    TodoListState State => GetState<TodoListState>();

    protected override async Task OnInitializedAsync()
        => await Mediator.Send(new TodoListState.LoadData());

    private async Task CreateNewTodoList() => await Mediator.Send(new TodoListState.CreateNewTodoList());

}