@page "/"
@using TimeOnion.Domain.Todo.List
@using TimeOnion.Actions
@inherits BlazorState.BlazorStateComponent

<PageTitle>Ma todo liste</PageTitle>

<TimeHorizonSelector></TimeHorizonSelector>

<MudContainer MaxWidth="MaxWidth.Small">

    <h1>@State.CurrentTemporality.ToText()</h1>

    <MudDivider Class="medium"/>

    <TodoItems></TodoItems>

</MudContainer>

@code {

    TodoListState State => GetState<TodoListState>();

    protected override async Task OnInitializedAsync()
        => await Mediator.Send(new TodoListState.LoadData());

}