@using TimeOnion.Pages.TodayTaskPreparation.Actions
@using TimeOnion.Pages.TodayTaskPreparation.Components
@using TimeOnion.Pages.TodayTaskPreparation.Steps
@using TimeOnion.Pages.TodoListPage.Actions.Details.Items
@inherits TimeOnion.Shared.MVU.BlazorStateComponent

@if (State.CurrentStep is not null)
{
    <MudDialog>
        <DialogContent>
            <TodayTaskPreparationTimeline></TodayTaskPreparationTimeline>
            <br/>
            <MudContainer MaxWidth="MaxWidth.Medium" Class="pa-3">
                @switch (State.CurrentStep.Id)
                {
                    case TodayTaskPreparationSteps.EndYesterdayTasks:
                        <EndYesterdayTasks></EndYesterdayTasks>
                        break;

                    case TodayTaskPreparationSteps.AddThisWeekTasks:
                        <AddThisWeekTasks></AddThisWeekTasks>
                        break;

                    case TodayTaskPreparationSteps.FinalizeTodayTasks:
                        <FinalizeTodayTasks></FinalizeTodayTasks>
                        break;
                }
                <div class="d-flex align-center justify-end gap-3">
                    <MudButton OnClick="Cancel">Annuler</MudButton>
                    @if (State.CurrentStep.Next() is null)
                    {
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">Fin</MudButton>
                    }
                    else
                    {
                        <MudButton
                            Color="Color.Primary"
                            Variant="Variant.Filled"
                            OnClick="() => Execute(new MoveToNextPreparationStepAction())">
                            Suivant
                        </MudButton>
                    }
                </div>
            </MudContainer>

        </DialogContent>

    </MudDialog>
}

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    TodayTaskPreparationState State => GetState<TodayTaskPreparationState>();

    protected override async Task OnInitializedAsync()
        => await Execute(new LoadTodayTaskPreparationAction());

    async Task Submit()
    {
        await Execute(new MoveToNextPreparationStepAction());
        await Execute(new ReloadTodoListItemsAction());
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel() => MudDialog.Cancel();

}