.mud-input-control.compact .mud-icon-button {
    padding: 1px;
}

.mud-input-control.compact {
    margin-top: 0;
}

.mud-input-control.compact .mud-input > input.mud-input-root {
    padding: 1px 0 1px 5px;
}

.mud-input-control.compact > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: 3px !important;
}