.mud-input-control.compact .mud-icon-button {
    padding: 1px;
}

.mud-input-control.compact {
    margin-top: 0;
}

.mud-input-control.compact .mud-input > input.mud-input-root {
    padding: 0;
}

.mud-input-control.compact > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: 3px !important;
}

.overlay-parent:hover > .overlay {
    visibility: visible;
}

.overlay-parent:hover > .mud-tooltip-root > .overlay {
    visibility: visible;
}

.full-width {
    width: 100%;
}

.important {
    font-weight: bold;
}